.ngx-primary-layout {
  .ngx-primary-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 94vh;
    min-height: 94vh;
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 1366px) {
      .wide {
        max-width: 75rem;
        margin: 0 auto;
        width: 100%;
      }

    }

    .ngx-primary-card {
      .ngx-primary-outlet {
        margin: 0;
      }
    }
  }
}
