.ngx-primary-layout {
  .ngx-primary-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 94vh;
    min-height: 94vh;
    transition: all 0.2s ease-in-out;

    .ngx-primary-card {
      .ant-card-body:first-child {
        min-height: calc(100vh - 7rem);
      }
      .ngx-primary-outlet {
        margin: 0;
        padding: 24px;
      }
    }
  }
}
