.ngx-form-builder {
  .ant-drawer-wrapper-body {

    .ant-drawer-body {
      padding: 0 !important;
      overflow-x: hidden;
    }

    .dn-main-panel-header {
      display: none !important;
    }
  }
}