@import 'variable';

div,
span,
p,
a,
ul,
li,
svg,
ol,
strong,
b,
button,
table,
input {
  font-family: map-get($theme, --font-family), sans-serif !important;
}

.dark {
  input, textarea, select {
    &:-webkit-autofill {
      &, &:hover, &:focus {
        -webkit-text-fill-color: map-get($theme, --auto-fill-text-color-dark);
        -webkit-box-shadow: map-get($theme, --auto-fill-webkit-box-shadow-dark);
        box-shadow: map-get($theme, --auto-fill-webkit-box-shadow-dark);
        transition: map-get($theme, --auto-fill-transition);
      }
    }
  }

  ::-webkit-scrollbar {
    background-color: map-get($theme, --scrollbar-background-color-default);
    color: map-get($theme, --scrollbar-color-default);
    width: map-get($theme, --scrollbar-width);
    height: map-get($theme, --scrollbar-height);
  }

  ::-webkit-scrollbar-corner {
    background-color: map-get($theme, --scrollbar-background-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($theme, --scrollbar-background-thumb);
    cursor: pointer;
    border-radius: map-get($theme, --scrollbar-thumb-border-radius);
  }
}

.light {
  input, textarea, select {
    &:-webkit-autofill {
      &, &:hover, &:focus {
        -webkit-text-fill-color: map-get($theme, --auto-fill-text-color-light);
        -webkit-box-shadow: map-get($theme, --auto-fill-webkit-box-shadow-light);
        box-shadow: map-get($theme, --auto-fill-webkit-box-shadow-light);
        transition: map-get($theme, --auto-fill-transition);
      }
    }
  }

  ::-webkit-scrollbar {
    color: map-get($theme, --scrollbar-color-default);
    width: map-get($theme, --scrollbar-width);
    height: map-get($theme, --scrollbar-height);
  }

  ::-webkit-scrollbar-corner {
    background-color: map-get($theme, --scrollbar-corner-background-light);
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($theme, --scrollbar-thumb-background-light);
    cursor: pointer;
    border-radius: map-get($theme, --scrollbar-thumb-border-radius);
  }
}


