@import 'variable';

div,
span,
p,
a,
ul,
li,
svg,
ol,
strong,
b,
button,
table,
input {
  font-family: map-get($theme, --font-family), sans-serif !important;
}

.dark {
  input, textarea, select {
    &:-webkit-autofill {
      &, &:hover, &:focus {
        -webkit-text-fill-color: #ffffff;
        -webkit-box-shadow: 0 0 0 1000px #141414 inset;
        box-shadow: 0 0 0 1000px #141414 inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  ::-webkit-scrollbar {
    background-color: map-get($theme, --scrollbar-background-color-default);
    color: map-get($theme, --scrollbar-color-default);
    width: map-get($theme, --scrollbar-width);
    height: map-get($theme, --scrollbar-height);
  }

  ::-webkit-scrollbar-corner {
    background-color: map-get($theme, --scrollbar-background-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($theme, --scrollbar-background-thumb);
    cursor: pointer;
    border-radius: map-get($theme, --scrollbar-thumb-border-radius);
  }
}

.light {
  input, textarea, select {
    &:-webkit-autofill {
      &, &:hover, &:focus {
        -webkit-text-fill-color: rgba(0, 0, 0, 0.88);
        -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
        box-shadow: 0 0 0 1000px #ffffff inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  ::-webkit-scrollbar {
    color: map-get($theme, --scrollbar-color-default);
    width: map-get($theme, --scrollbar-width);
    height: map-get($theme, --scrollbar-height);
  }

  ::-webkit-scrollbar-corner {
    background-color: map-get($theme, --scrollbar-corner-background-light);
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($theme, --scrollbar-thumb-background-light);
    cursor: pointer;
    border-radius: map-get($theme, --scrollbar-thumb-border-radius);
  }
}


