@import 'variable';

body {
  margin: map-get($theme, --body-default-margin);
  overflow: map-get($theme, --body-overflow-default);
  height: map-get($theme, --body-fullscreen-height);
  background-color:  map-get($theme, --default-background) !important;
  font-family:  map-get($theme, --font-family), sans-serif !important;
}