@import "@theme/styles/variable";

.ngx-header-container {
  height: map-get($theme, --header-height) !important;
  padding-right: 0 !important;

  .collapse-btn {
    position: absolute;
    left: -0.25rem;
    width: 4rem !important;
    height: 4rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.85);

    &, &:hover {
      background: none !important;
    }
  }

  .header-logo {
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    display: inline-flex;
    padding-top: 0.5rem;
    position: relative;
    min-width: 10.3125rem !important;
    height: 100%;
    overflow: hidden;

    .ant-typography {
      color: rgba(255, 255, 255, 0.85) !important;
      font-weight: 500;
    }

    .logo {
      width: 2rem;
      height: 2rem;
      margin-top: -5px;
    }
  }

  @media screen and (max-width: 600px) {
   .header-logo {
     .ant-typography {
       .logo-text {
         display: none;
       }
     }
    }
  }


  .ant-menu-item-selected, .ant-menu-submenu-selected {
    background: none !important;
  }

  .ant-menu-item {
    font-size: map-get($fontSize, --font-size-menu-text) !important;

    svg {
      font-size: map-get($fontSize, --font-size-svg-defaut) !important;
    }
  }

  .ngx-header-menu {
    align-items: center;
    padding-left: 3.5rem;
    height: 100%;
    max-height: map-get($theme, --header-height);

    .ant-menu-submenu:not(:first-child), .ant-menu-item:not(:first-child) {
      padding: 0 1.25rem !important;
    }
  }

  .ngx-header-menu-action {
    height: 100%;
    max-height: map-get($theme, --header-height);
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;

    .user {
      .username {
        position: absolute;
        top: 25%;
      }

      .ant-menu-title-content {
        font-size: map-get($fontSize, --font-size-menu-text) !important;
        margin-left: 2.1875rem !important;
      }
    }
  }

}